body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

h1,
h2,
h3,
p {
  margin: 0;
  font-size: 14px;
}

.wrapper__outter {
  padding-left: 50px;
  padding-right: 50px;
}

.wrapper__inner {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.preview__info {
  display: flex;
  flex-direction: column;
}

.preview__main {
  display: flex;
}

.preview__name,
.preview__speciality,
.preview__mail,
.preview__telegram,
.preview__current-location {
  flex: 1;
}

.preview__name {
  font-family: "Nunito";
  font-size: 50px;
  font-weight: 500;
}

.preview__speciality {
  display: flex;
  justify-content: space-between;
}

a {
  color: black;
}

.sign {
  text-transform: uppercase;
  color: #339999;
}

.job__name {
  text-transform: uppercase;
}

.education__title,
.education__descr {
  font-weight: normal;
}

.education__years {
  color: gray;
}

.courses__list,
.about__list {
  list-style-type: circle;
  font-size: 14px;
}

.preview__img,
.job__desired,
.current__skills,
.current__courses,
.current__languages,
.eduaction__main-title,
.hobbies__title,
.about__title {
  min-width: 225px;
  word-wrap: break-word;
}

.preview__img>img {
  max-width: 225px;
}

.job,
.preview,
.skills,
.courses,
.languages,
.eduaction,
.hobbies,
.about {
  display: flex;
  padding-top: 30px;
}


.job,
.skills,
.courses,
.languages,
.eduaction,
.hobbies,
.about {
  align-items: baseline;
}

.preview__info,
.job__name,
.skills__descr,
.courses__descr,
.languages__list,
.education__list,
.hobbies__descr {
  padding-left: 30px;
}

.courses__list,
.about__list {
  padding-left: 40px;
}

@media only screen and (max-width: 600px) {
  .preview {
    flex-direction: column;
  }

  .preview__info {
    padding-left: 0;
  }

  .preview__main {
    display: block;
  }

  .job,
  .preview,
  .skills,
  .courses,
  .languages,
  .eduaction,
  .hobbies,
  .about {
    display: block;
  }
}